.env
.env.*
!.env.example

/vendor/
/node_modules/

storage/cache/*
!storage/cache/.gitignore

storage/uploads/*
!storage/uploads/.gitignore

storage/sessions/*
!storage/sessions/.gitignore

.DS_Store
Thumbs.db
